.Site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.SiteHeader {
  flex: 0 0 auto;
  background-color: #3b3b3b;
  height: 3em;
}

.SiteContent {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  background-color: #1e1e1e;
}

.SiteFooter {
  flex: 0 0 auto;
  background-color: #3b3b3b;
  height: 3em;
}

.dropzonehide {
  display: none;
  /*background-color: red;*/
}

.dropzoneshow {
  /*background-color: green;*/
  position: fixed;
  display: flex;
  background: rgba(17, 109, 210, 0.5);
  border: 15px solid #0c3158;
  width: 100%;
  height: 100%;
  zIndex: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
  justify-content: center;
  align-items: center;
  textAlign: center;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  letterSpacing: 1px;
  margin: auto;
  font-family: 'Roboto Condensed';
}

.SidebarPushable {
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
}

.ItemMain {
  overflow-x: scroll;
  min-height: calc(100vh);
  transition: margin 0.5s ease;
  clear: both;
  display: flex;
}

.ItemMainLeftAnim {
  margin-left: 350px;
}

.ItemMainRightAnim {
  margin-right: 350px;
}

.ItemSideBar {
  min-height: calc(100vh);
  background: linear-gradient(270deg, #444242 0%, #3B3B3B 100%);
  width: 350px;
  position: fixed;
  transition: transform 0.5s ease;
  z-index: 102;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

.ItemLeftSideBar {
  transform: translate(-350px, 0);
}

.ItemRightSideBar {
  transform: translate(100vw, 0);
}

.ItemLeftSideBarAnim{
  transform: translate(0, 0);
}

.ItemRightSideBarAnim{
  transform: translate(calc(100vw - 350px), 0);
}

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
}

.ReactModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  outline: 0;
  box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.1);
  /* border: 1px solid #ccc; */
  /* background: #fff; */
  /* overflow: auto; */
  /* border-radius: 4px; */
  /* outline: none; */
  /* padding: 20px */
}

.FixedActionMenuLeft {
  transition: transform 0.5s ease;
  position: fixed;
  bottom: 24px;
  left: calc(350px + 24px);
  z-index: 990;
}

.FixedActionMenuRight {
  transition: transform 0.5s ease;
  position: fixed;
  bottom: 24px;
  right: calc(100vw + 24px);
  z-index: 990;
}
