.Site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.SiteHeader {
  flex: 0 0 auto;
  background-color: #3b3b3b;
  height: 3em;
}

.SiteContent {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  background-color: #1e1e1e;
}

.SiteFooter {
  flex: 0 0 auto;
  background-color: #3b3b3b;
  height: 3em;
}

.dropzonehide {
  display: none;
  /*background-color: red;*/
}

.dropzoneshowAccept {
  /* outline-color: #00FF00; */
  background-color: rgba(0,134,0,0.7) !important;
}

.dropzoneshowReject {
  /* outline-color: #FF0000; */
  background-color: rgba(134,0,0,0.7) !important;
}

.dropzoneshow {
  /* outline-style: solid;
  outline-color: #0c3158;
  outline-width: 15px;
  outline-offset: -15px; */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,80,6,0.7); /* Black w/ opacity */
}

.dropzoneshowContent {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  outline: 0;
  font-size: 100px;
  font-weight: 600;
  line-height: 100px;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  margin: auto;
  font-family: 'Roboto Condensed';
}

.SidebarPushable {
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
}

.ItemMain {
  overflow-x: scroll;
  transition: margin 0.5s ease;
  clear: both;
  display: flex;
}

.ItemMainMinHeight {
  min-height: calc(100vh);
}

.ItemVideoPlayer {
  transition: margin 0.5s ease;
  position: fixed;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%);
}

.ItemMainEdit {
  border: 5px solid #8f542e;
}

.ItemMainTopAnim {
  margin-top: 350px;
}

.ItemMainLeftAnim {
  margin-left: 350px;
}

.ItemMainRightAnim {
  margin-right: 350px;
}

.ItemSideBar {
  min-height: calc(100vh);
  background: linear-gradient(270deg, #444242 0%, #3B3B3B 100%);
  width: 350px;
  position: fixed;
  transition: transform 0.5s ease;
  z-index: 102;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

.ItemLeftSideBar {
  transform: translate(-350px, 0);
}

.ItemRightSideBar {
  transform: translate(100vw, 0);
}

.ItemLeftSideBarAnim{
  transform: translate(0, 0);
}

.ItemRightSideBarAnim{
  transform: translate(calc(100vw - 350px), 0);
}

.ItemMainStartup{
  margin: auto;
  width: 100%;
}

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
}

.ReactModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  outline: 0;
  box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.1);
  /* border: 1px solid #ccc; */
  /* background: #fff; */
  /* overflow: auto; */
  /* border-radius: 4px; */
  /* outline: none; */
  /* padding: 20px */
}

.FixedActionMenuLeft {
  transition: transform 0.5s ease;
  position: fixed;
  bottom: 24px;
  left: calc(350px + 24px);
  z-index: 990;
}

.FixedActionMenuRight {
  transition: transform 0.5s ease;
  position: fixed;
  bottom: 24px;
  right: calc(100vw + 24px);
  z-index: 990;
}

.FixedActionMenuFlex {
  flex-shrink: 1 !important;
}
