* {margin: 0; padding: 0;}
/*
div {
  margin: 20px;
}*/

ul {
  list-style-type: none;
  /*width: 350px;*/
}

h3 {
  font: bold 1em Helvetica, Verdana, sans-serif;
}

.croppedThumb {
  float: left;
  width: 76px !important;
  height: 76px !important;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

.ThumbLabel {
  position: absolute;
  right: 4px;
  bottom: 4px;
  opacity: 0.6;
}

li p {
  font: 0.8em Georgia, Times New Roman, serif;
}

.MainList > li {
  margin: 8px 0px 8px 8px;
  padding: 8px 8px 0px 8px;
  /* width: 336px; */
  /* overflow: hidden; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  /* border-radius: 4px; */
}

.MainList > li:hover {
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 64px 0 rgba(0,0,0,0.5);
  background: #1e1e1e;
  border-radius: 0;
  border-left: 1px solid rgba(255, 133, 27, 0.6);
}

.Highlight {
  background: #1e1e1e;
  width: 342px;
  padding-right: 12px; /* (342-336)*2  */
  border-radius: 0;
  border-left: 1px solid rgba(255, 133, 27, 1) !important;
}

.Title {
  /* padding-top: 4px; */
  padding-left: 84px;
  padding-right: 16px;
	height: 32px;
  opacity: 0.8;
	color: #EEEEEE;
	font-family: "Roboto Condensed";
	font-size: 14px;
	/* font-weight: bold; */
	line-height: 16px;
}

.Path {
  padding-top: 4px;
  padding-left: 84px;
	/*height: 14px;*/
	/*width: 336px;*/
	opacity: 0.5;
	color: #EEEEEE;
	font-family: "Roboto Condensed";
	font-size: 10px;
	font-weight: 300;
	line-height: 14px;
}

.Detail {
  padding-left: 84px;
  padding-right: 4px;
  padding-top: 4px;
	/*height: 13px;*/
	width: 100%;
	color: #FFD3BF;
	font-family: Ubuntu;
	font-size: 12px;
	font-weight: 300;
	line-height: 13px;
}

.DetailLeft {
  float: left;
	text-align: left;
}

.DetailCenter {
  margin: 0 auto;
	text-align: center;
}

.DetailRight {
  float: right;
	text-align: right;
}

.SheetLabel {
  margin-left: 8px !important;
  background-color: rgba(232, 232, 232, 0.5) !important;
  position: absolute;
  right: 24px;
  top: 6px;
}

.shotBased {
  background-color: #ff9365 !important;
}

.SheetList {
    margin: 18px 0 0 0;
}

.SheetList > li {
  margin: 8px -8px 8px 0px;
  padding: 4px 4px 4px 4px;
  /* margin-left: 84px; */
  /* width: 336px; */
  /* overflow: hidden; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.SheetList > li:hover {
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  background: #1e1e1e;
  border-radius: 0;
  /* border-left: 1px solid rgba(0, 0, 0, 1); */
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: rgba(255, 133, 27, 0.1); */
  color: rgba(255, 255, 255, 1);
}

.SheetHighlight {
  border-radius: 0;
  border-left: 1px solid rgba(255, 133, 27, 1);
  background-color: rgba(0, 0, 0, 1);
  /* background-color: #eeeeee; */
  color: rgba(255, 255, 255, 1) !important;
}

.SheetName {
  /* padding-top: 4px; */
  /* padding-left: 84px; */
  /* padding-right: 16px; */
	/* height: 32px; */
  margin-left: 8px;
  margin-right: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  opacity: 0.8;
	color: #EEEEEE;
	font-family: "Roboto Condensed";
	font-size: 14px;
	/* font-weight: bold; */
	/* line-height: 16px; */
}

.SheetNameInputContainer {
  margin-left: 8px;
}

.SheetNameInput {
  /* margin-left: 2px; */
  padding-left: 2px;
  height: 19px;
  background-color: rgba(255,211,193,0.05);
  margin-right: 32px;
  display: inline-block !important;
  width: 260px !important;
  /* opacity: 0.8; */
}

.SheetNameInput > input {
	color: #EEEEEE !important;
	font-family: "Roboto Condensed" !important;
	font-size: 14px !important;
  width: 260px !important;
}

.SheetNameInput > input::selection {
  background: white;
  color: black;
}

.overflow {
  z-index: 1;
  position: absolute !important;
  right: 0px;
  margin-right: 4px !important;
  margin-top: -1px !important;
}

.overflowHidden {
  /* generally hide, only display on hover. !important to override display value from icon */
  display: none !important;
}

.SheetListItem {
  position: relative;
}

.SheetListItem:hover > .overflow {
  /* show overflow only on hover. !important to override display value from overflow */
  display:block !important;
  margin-top: -20px !important;
  margin-right: 4px !important;
}

.FileListItem:hover > .overflow {
  /* show overflow only on hover. !important to override display value from overflow */
  display:block !important;
}

.Missing {
  border-left: 1px solid rgba(255, 0, 0, 1.0) !important;
  background-color: rgba(255, 0, 0, 0.1);
}

.emptyFilelist {
  margin-top: 50%;
  margin-left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.fileMissingContainer {
  margin-left: 8px;
  margin-bottom: 16px;
  display: flex;
  /* justify-content: space-between; */
}

.fileMissing {
  color: rgba(255, 0, 0, 1.0);
  margin-top: 4px;
  font-size: 12px;
}

.fileMissingButton {
  margin-left: 16px !important;
}
