
.floatingMenu {
  transition: transform 0.5s ease;
  position: fixed;
  transform: translate(-50%);
  top: 8px;
  left: calc(50% + 10px);
  z-index: 990;
  width: 680px;
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.imageButton {
  color: white !important;
  /* background-color: rgba(30, 15, 0, 1.0) !important; */
  background: rgba(0,0,0,0.8) !important;
  /* box-shadow: none !important; */
  padding-left: 11px !important;
  padding-right: 11px !important;
  /* padding-top: 10px !important; */
  /* padding-bottom: 9px !important; */
}

.imageButton:hover {
  /* background-color: rgba(60, 30, 0, 1.0) !important; */
  background-color: rgba(255, 80, 6, 1.0) !important;
}

.dropDownButton {
  color: white !important;
  /* background-color: rgba(30, 15, 0, 1.0) !important; */
  background: rgba(0,0,0,0.8) !important;
  /* box-shadow: none !important; */
  padding-left: 15px !important;
  padding-right: 11px !important;
  /* padding-top: 11px !important; */
  /* padding-bottom: 10px !important; */
  font-size: 16px !important;
}

.dropDownButton:hover {
  /* background-color: rgba(60, 30, 0, 1.0) !important; */
  background-color: rgba(255, 80, 6, 1.0) !important;
}

.dropDownButton i{
  opacity: 0.9 !important;
}

.dropDownMenu {
  /* background-color: rgba(60, 30, 0, 1.0) !important; */
}

.dropDownItem img{
  margin-top: -2px !important;
}

.dropDownItemIconInvert img{
  filter: invert(100%);
}

.dropDownItemSlider{
  height: 48px !important;
}

.normalButton {
  color: white !important;
  /* background-color: rgba(30, 15, 0, 1.0) !important; */
  background: rgba(0,0,0,0.8) !important;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  box-shadow: none !important;
}

.normalButton:hover {
  /* background-color: rgba(60, 30, 0, 1.0) !important; */
  background-color: rgba(255, 80, 6, 1.0) !important;
}

.textButton {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  height: 34px !important;
  border-radius: 0 !important;
  padding-top: 11px !important;
}

.textButton:hover {
  background-color: rgba(60, 30, 0, 1.0) !important;
}

.selected {
  background-color: rgba(255, 80, 6, 0.5) !important;
  color: white !important;
}

.selected:hover {
  background-color: rgba(255, 80, 6, 1.0) !important;
  /* background-color: rgba(60, 30, 0, 1.0) !important; */
  color: white !important;
}

.hidden {
  visibility: hidden;
}

.noBackground {
  background-color: none !important;
  box-shadow: none !important;
  padding: 0px 16px 16px 16px !important;
  opacity: 0.5 !important;
}
