
.floatingMenu {
  transition: transform 0.5s ease;
  position: fixed;
  transform: translate(-50%);
  top: 16px;
  left: calc(50% + 10px);
  z-index: 990;
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.imageButton {
  color: white !important;
  background-color: rgba(0, 0, 0, 1.0) !important;
  /* box-shadow: none !important; */
  padding-left: 11px !important;
  padding-right: 11px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.imageButton:hover {
  background-color: rgba(60, 60, 60, 1.0) !important;
}

.normalButton {
  color: white !important;
  background-color: rgba(0, 0, 0, 1.0) !important;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  box-shadow: none !important;
}

.normalButton:hover {
  background-color: rgba(60, 60, 60, 1.0) !important;
}

.textButton {
  color: white !important;
  background-color: rgba(30, 30, 30, 1.0) !important;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  height: 34px !important;
}

.textButton:hover {
  background-color: rgba(60, 60, 60, 1.0) !important;
}

.selected {
  background-color: rgba(40, 40, 40, 1.0) !important;
}
