.menu {
  z-index: 200;
  background-color: #1e1e1e;
}

/* .headerItem {
  float: left;
  opacity: 0.5;
}

.headerItem:hover {
  cursor: pointer;
  opacity: 1;
}

.subHeader {
  float: left;
  opacity: 0.5;
  font-family: 'Open sans';
  font-size: 12px;
  color: #eee;
  padding: 12px;
} */
