.container {
  z-index: 200;
  background-color: rgba(30,30,30,1);
}

.menu {
  z-index: 200;
  /* background-color: #1e1e1e; */
  background-color: rgba(30,30,30,1) !important;
}

.saveButton {
  background-color: rgba(255, 80, 6, 1.0) !important;
}

.saveButton:hover {
  background-color: rgba(255, 80, 6, 0.5) !important;
}

/* .headerItem {
  float: left;
  opacity: 0.5;
}

.headerItem:hover {
  cursor: pointer;
  opacity: 1;
}

.subHeader {
  float: left;
  opacity: 0.5;
  font-family: 'Open sans';
  font-size: 12px;
  color: #eee;
  padding: 12px;
} */
