.grid {
  display: block;
  height: 100%;
  white-space: nowrap;
  border: 0;
  overflow: auto;
  margin: auto;
  outline: none;
}

.gridItem {
  float: left;
  /*width: 168px;*/
  /*padding: 8px;*/
  /*background: #3b3b3b;*/
  /* border: 0; */
  margin: 0.5px;
  position: relative;
  outline: none;
  -webkit-user-select: none;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-size: auto 100%; */
  background-size: auto calc(100% + 20px);
  /* background-blend-mode: overlay; */
  background-position: center;
  /* background-repeat: space; */
  /* background-clip: padding-box; */
  border: 10px solid rgba(0,0,0,0.1);
}

.gridHeader {
  background: #3b3b3b;
  color: #eee;
  font-family: 'Open sans';
  padding-left: 4px;
  overflow: hidden;
  position: relative;
  line-height: 0;
}

.gridHeaderImageAndText {
  float: left;
  transform-origin: 'left bottom';
  vertical-align: baseline;
}

.gridHeaderImage {
  /* display: inline-block; */
  position: absolute;
}

.gridHeaderText {
  display: inline-block;
  white-space: normal;
  color: #ff925e;
}

.gridHeaderTextName {
  font-size: 12px;
  font-weight: bold;
  color: #ffd3bf;
  letter-spacing: 0.3px;
  text-align: right;
}

.timelineWrapper {
  position: relative;
  background: rgba(255, 219, 204, 0.2);
  clear: both;
}

.timelineCut {
  position: absolute;
  background: #e85d22;
  height: 100%;
}

.timelineThumbIndicator {
  position: absolute;
  min-width: 1px;
  background: #ffdbcc;
}

.gridItemSelected {
  outline-style: solid;
  outline-color: #ff5006;
  background-color: #ff5006;
  /* box-shadow: 5px 0px 0px 0px #FF5006 */
}

/* .gridItemSelected:after {
  content: "";
  background-color: #FF5006;
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  transform: translateX(10px);
} */

.gridItem:hover {
  /* background: #eee; */
  cursor: pointer;
}

.image {
  float: left;
  /*width: 168px;*/
  /*padding: 8px;*/
  /*background: #3b3b3b;*/
  /*border: 0;*/
  /*margin: 4px;*/
  /* border-radius:8px; */
  /*position: relative;*/
}

.gridForPrinting {
  margin-left: -50px;
}

.frameNumber {
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  border-radius: 2px;
  font-family: 'Open sans';
  font-size: 10px;
  line-height: 10px;
  padding: 1px;
  color: #000000;
  transform-origin: left top;
  /*opacity: 0.5;*/
}

.dragHandleButton {
  position: absolute;
  /* top: calc(50% - 28px);
  left: calc(50% - 72px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  /* width: 144px; */
  /* height: 80%; */
  opacity: 1;
  cursor: move;
  background-color: transparent;
  border: 0;
  outline: none;
}

.dragHandleIcon {
  position: absolute;
  /* top: calc(50% - 28px);
  left: calc(50% - 72px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 144px;
  opacity: 1;
  /* cursor: move; */
}

.whileDragging {
  box-shadow: 0px 0px 80px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* has to be higher than dropzoneshow*/
}

.hide {
  position: absolute;
  outline: none;
  top: 0;
  left: 50%;
  opacity: 0.5;
  background-color: transparent;
}

.inPoint {
  position: absolute;
  outline: none;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

/* .back {
  position: absolute;
  outline:none;
  bottom: 0;
  left: calc(50% - 24px - 48px);
  opacity: 0.5;
} */

.save {
  position: absolute;
  outline: none;
  top: 0;
  right: 0;
  opacity: 0.5;
}

.textButton {
  font-family: 'Franchise';
  color: #ffffff;
  font-size: 30px;
  opacity: 0.5;
}

/* .forward {
  position: absolute;
  outline:none;
  bottom: 0;
  left: calc(50% + 24px);
  opacity: 0.5;
} */

.outPoint {
  position: absolute;
  outline: none;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

.dim {
  transition: opacity 0.3s;
  opacity: 0.2 !important;
  transition-delay: 0.5s;
}

.hoverButton {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  -webkit-user-select: none;
}

.opaque {
  opacity: 1 !important;
}
