.scrubContainerBackground {
  /* outline-style: solid;
  outline-color: #0c3158;
  outline-width: 15px;
  outline-offset: -15px; */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  z-index: 999;
  cursor: col-resize;
}

.scrubInfo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
  font-family: 'Franchise', 'Roboto Condensed';
  color: #ffffff;
  font-size: 30px;
  opacity: 0.5;
  -webkit-user-select:none;
}

.scrubContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

.scrubInnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.scrubThumb {
  position: relative;
}

.scrubThumbLeft {
  /* position: absolute; */
  left: 0;
  display: inline-block;
  background-position: right center;
  background-size: cover;
  /* margin-right: 2px; */
  /* height: 24px; */
  /* width: 24px; */
  object-fit: cover;
  transform: translateY(-50%);
}

.scrubThumbRight {
  /* position: absolute; */
  right: 0;
  display: inline-block;
  background-position: left center;
  background-size: cover;
  /* margin-left: 2px; */
  /* height: 24px; */
  /* width: 24px; */
  object-fit: cover;
  transform: translateY(-50%);
}

.scrubCancelBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(100, 0, 0, 1);
  z-index: 1000;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
}

.scrubDescription {
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: #333333; */
  z-index: 1000;
  text-align: center;
  padding-top: 6px;
}

.scrubLine {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #FF5006;
  z-index: 2000;
}

.frameNumberOrTimeCode {
  position: absolute;
  /* top: 0; */
  left: 0;
  top: 0;
  transform: translate(-50%, -20px);
  background: #eee;
  border-radius:2px;
  font-family: 'Open sans';
  font-size: 14px;
  line-height: 14px;
  padding: 1px;
  color: #000000;
  -webkit-user-select:none;
  z-index: 2001;
}

.scrubThumbLine {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2000;
}

.scrubThumbframeNumberOrTimeCode {
  position: absolute;
  /* top: 0; */
  left: 0;
  top: 0;
  transform: translate(-50%, -20px);
  background-color: rgba(100, 100, 100, 1);
  border-radius:2px;
  font-family: 'Open sans';
  font-size: 14px;
  line-height: 14px;
  padding: 1px;
  color: #000000;
  -webkit-user-select:none;
  z-index: 1999;
  /* opacity: 0.5; */
}

.timelineWrapper {
  bottom: -24px;
  width: 100%;
  position: absolute;
  background-color: #421400;
  height: 24px;
}

.timelineCut {
  position: absolute;
  background-color: rgba(255, 80, 6, 0.4);
  height: 24px;
}

.timelinePlayhead {
  position: absolute;
  /* bottom: 0; */
  /* top: 0; */
  width: 2px;
  background-color: rgba(255, 80, 6, 1);
  height: 20px;
  margin-top: 2px;
}

.timelineScrubThumb {
  position: absolute;
  /* bottom: 0; */
  /* top: 0; */
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 20px;
  margin-top: 2px;
}

/* .timelineWrapper .currentTime {
  background-color: #FF5006;
  z-index: 2;
} */

/* .timelineWrapper .cutStartTime {
  background-color: rgba(0, 0, 0, 0.3);
  border-left: 1px solid black;
  border-right: 1px solid black;
  z-index: 1;
} */
