.scrubContainerBackground {
  /* outline-style: solid;
  outline-color: #0c3158;
  outline-width: 15px;
  outline-offset: -15px; */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  z-index: 999;
}

.scrubContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.scrubInnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.scrubThumbLeft {
  /* position: absolute; */
  left: 0;
  display: inline-block;
  background-position: right center;
  background-size: cover;
  /* margin-right: 2px; */
  /* height: 24px; */
  /* width: 24px; */
  object-fit: cover;
  transform: translateY(-50%);
}

.scrubThumbRight {
  /* position: absolute; */
  right: 0;
  display: inline-block;
  background-position: left center;
  background-size: cover;
  /* margin-left: 2px; */
  /* height: 24px; */
  /* width: 24px; */
  object-fit: cover;
  transform: translateY(-50%);
}

.scrubCancelBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(100, 0, 0, 1);
  z-index: 1000;
  text-align: center;
  padding-top: 6px;
}

.scrubDescription {
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: #333333; */
  z-index: 1000;
  text-align: center;
  padding-top: 6px;
}

.scrubLine {
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #FF5006;
  z-index: 2000;
}
