.gridHeader {
  background: #3b3b3b;
  color: #eee;
  font-family: 'Open sans';
  padding-left: 4px;
  overflow: hidden;
  position: relative;
  line-height: 0;
}

.gridHeaderImageAndText {
  float: left;
  transform-origin: 'left bottom';
  vertical-align: baseline;
}

.gridHeaderImage {
  display: inline-block;
}

.gridHeaderText {
  display: inline-block;
  white-space: normal;
  color: #FF925E;
}

.gridHeaderTextName {
  font-size: 12px;
  font-weight: bold;
  color: #FFD3BF;
  letter-spacing: 0.3px;
}

.gridItem {
    float: left;
    /*width: 168px;*/
    /*padding: 8px;*/
    /*background: #3b3b3b;*/
    border: 0;
    margin: 4px;
    position: relative;
}

.gridItemSelected {
  outline-style: solid;
  outline-color: #FF5006;
  background-color: #FF5006;
}

.gridItem:hover {
  background: #eee;
  cursor: pointer;
}

.image {
  float: left;
  /*width: 168px;*/
  /*padding: 8px;*/
  /*background: #3b3b3b;*/
  /*border: 0;*/
  /*margin: 4px;*/
  /* border-radius:8px; */
  /*position: relative;*/
}

.grid {
    display: block;
    height: 100%;
    white-space: nowrap;
    border: 0;
    overflow: auto;
    margin: auto;
}

.frameNumber {
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  border-radius:2px;
  font-family: 'Open sans';
  font-size: 10px;
  line-height: 10px;
  padding: 1px;
  color: #000000;
  /*opacity: 0.5;*/
}

.dragHandle {
  position: absolute;
  /* top: calc(50% - 28px);
  left: calc(50% - 72px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 144px;
  opacity: 0.5;
  cursor: move;
}

.hide {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
}

.inPoint {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.back {
    position: absolute;
    bottom: 0;
    left: calc(50% - 24px - 48px);
    opacity: 0.5;
}

.scrub {
    position: absolute;
    bottom: 0;
    left: calc(50% - 24px);
    opacity: 0.5;
    cursor: col-resize;
}

.forward {
  position: absolute;
  bottom: 0;
  left: calc(50% + 24px);
  opacity: 0.5;
}

.outPoint {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

.hoverButton {
  border: 0;
  cursor: pointer;
}
