.player {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 6rem; */
  background: #1e1e1e;
}

.video {
  /* width: 100%;
  height: 100%; */
  object-fit: contain;
}

.frameNumberOrTimeCode {
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  border-radius:2px;
  font-family: 'Open sans';
  font-size: 14px;
  line-height: 14px;
  padding: 1px;
  color: #000000;
  -webkit-user-select:none;
  /*opacity: 0.5;*/
}

.controlsWrapper button, .rightMenu button, .leftMenu button {
  /* background: black; */
  border-radius: .3em;
  /* color: rgba(0, 0, 0, 0.7); */
  fontSize: 60%;
  vertical-align: middle;
  /* padding: .2em .4em; */
  /* margin: 0 .5em; */
  border: none;
}

.controlsWrapper {
  left: 0;
  right: 0;
  bottom: 0;
  /* height: 5.75rem; */
  /* background: #6b6b6b; */
  text-align: center;
  margin-top: 4px;
}

#currentTimeDisplay {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  /* padding: .5em; */
}

.timelineWrapper {
  width: 100%;
  position: relative;
  background-color: #421400;
  height: 24px;
}

.timelineCut {
  position: absolute;
  background-color: rgba(255, 80, 6, 0.4);
  height: 24px;
}

.buttonWrapper {
  width: 100%;
  position: relative;
  /* background-color: #444; */
  height: 32px;
  margin-top: 4px;
  padding: 4px;
}

.overVideoButtonWrapper {
  width: 100%;
  position: absolute;
  transform: translate(0%, -100%);
  height: 36px;
  /* background-color: rgba(0, 0, 0, 0.05); */
}

.timelinePlayhead {
  position: absolute;
  /* bottom: 0; */
  /* top: 0; */
  width: 2px;
  background-color: rgba(255, 80, 6, 1);
  height: 20px;
  margin-top: 2px;
}

.timelineWrapper .currentTime {
  background-color: #FF5006;
  z-index: 2;
}
.timelineWrapper .cutStartTime {
  background-color: rgba(0, 0, 0, 0.3);
  border-left: 1px solid black;
  border-right: 1px solid black;
  z-index: 1;
}

.hoverButton {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  outline:none;
  -webkit-user-select:none;
}

.inPoint {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.outPoint {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

.choose {
    position: absolute;
    bottom: 0;
    /* left: calc(50% - 24px); */
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0.5;
    /* cursor: col-resize; */
}

.textButton {
  font-family: 'Franchise', 'Roboto Condensed';
  color: #ffffff;
  font-size: 30px;
  opacity: 0.5;
  -webkit-user-select:none;
  /* text-shadow: 1px 1px 80px rgba(0,0,0,0.6); */
}
