
.slider {
  width: 90%;
  margin: 10px;
  background-color: #3e3e3e;
}

.label {
  color: white !important;
}

.subCheckbox {
  margin-left: 30px;
}

.input {
  height: 34px;
  width: 80px;
}

.edit {
  padding-left: 4px;
}

.colorPickerColor {
  position: relative;
  width: 190px;
  height: 32px;
  border-radius: 2px;
}

.colorPickerSwatch {
  padding: 2px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}

.colorPickerPopover {
  position: absolute;
  z-index: 2;
}

.colorPickerCover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.colorPickerText {
  padding: 6px;
  font-size: 20px;
  font-family: 'Open sans';
  text-align: center;
}

.smallText {
  margin-top: 8px;
  font-size: 0.9rem;
}

.previewCustomName {
  background-color: rgba(0,0,0,0.8) !important;
  color: rgba(255,255,255,0.5) !important;
  font-style: italic !important;
  font-weight: 200 !important;
  letter-spacing: 0.3px;
  line-height: 1.2rem !important;
}

.smallDivider {
  margin: 0.4rem 0 !important;
}

.attributeButton {
  margin: 1px !important;
}
