/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~semantic-ui-css/semantic.min.css';
@import '~react-toastify/dist/ReactToastify.min.css';
@import '~typeface-open-sans';
@import '~typeface-roboto-condensed';
@import '~typeface-ubuntu';
@import '~rc-slider/assets/index.css';
@font-face {
  font-family: Franchise;
  src: url("./dist/Franchise-Bold.woff");
}

.rc-slider-tooltip {
  z-index: 200;
}

body {
  color: white;
}

label {
  color: white;
}

mark {
  margin-left: 4px;
  margin-right: 4px;
  background-color: rgba(255, 80, 6, 0.9);
  color: white;
}

mark::before {
  content: '\00a0\00a0';
}

mark::after {
  content: '\00a0\00a0';
}

/* width */
::-webkit-scrollbar {
  width: 6px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e !important;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1e1e !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c !important;
}
