/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~semantic-ui-css/semantic.min.css';
@import '~typeface-open-sans';
@import '~typeface-roboto-condensed';
@import '~typeface-ubuntu';
@import '~rc-slider/assets/index.css';
@font-face {
  font-family: Franchise;
  src: url("./dist/Franchise-Bold.woff");
}

.rc-slider-tooltip {
  z-index: 200;
}

body {
  color: white;
}

label {
  color: white;
}

mark {
  background-color: rgba(255, 80, 6, 0.4);
  color: white;
}

mark::before {
  content: '\00a0\00a0';
}

mark::after {
  content: '\00a0\00a0';
}
